<?xml version="1.0"?>
<data>
    <addresses>
        <remote_cam_server_tcp>
            <ip>192.168.1.2</ip>
            <port>8080</port>
        </remote_cam_server_tcp>
        <instapush_notif_udp>
            <ip>localhost</ip>
            <port>30000</port>
        </instapush_notif_udp>
        <display_stream_launcher_udp>
            <ip>localhost</ip>
            <port>30001</port>
        </display_stream_launcher_udp>
        <job_scheduler_udp>
            <ip>localhost</ip>
            <port>30002</port>
        </job_scheduler_udp>
    </addresses>
    <path>
        <mjpeg_streamer_root_path>/usr/src/mjpg-streamer/mjpg-streamer-experimental/</mjpeg_streamer_root_path>
        <mjpeg_streamer>/usr/src/mjpg-streamer/mjpg-streamer-experimental/mjpg_streamer</mjpeg_streamer>
    </path>
</data>